<div data-bind="foreach: players">
  <p data-bind="style: { background: seatNumber == $root.bidder() ? 'aqua' : ''}">
    Seat <span data-bind="text: seatNumber"></span>: <span data-bind="text: handle"></span><br />
    <div data-bind="if: isCurrentPlayer">
      <span data-bind="text: diceIcons" style="font-size: 42px;"></span><br />
      Bid:<br />
      Number: <%= text_field_tag :number %><br />
      Face Value: <%= text_field_tag :face_value %><br />
      <%= submit_tag "BID" %><br />
      -- OR -- <br />
      <%= submit_tag "+1" %>
    </div>
  </p>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    var game = new GameViewModel();

    <% @game.players.order(:seat).each do |player| %>
      player = new Player(<%= raw player.to_json %>);
      <% if player == @player %>
        player.isCurrentPlayer(true);
        player.assignDice(<%= player.dice %>);
      <% end %>
      game.addPlayer(player);
    <% end %>

    game.bidder(<%= @game.bidder.seat %>);
    ko.applyBindings(game);
  </script>
<% end %>
