<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" data-bind="if: currentBid()">
      <h2>
        Bid: <span data-bind="text: currentBid().toDice()" style="font-size: 42px;"></span>
        <!-- ko if: diceTotal() -->
        <br>
        Total: <span data-bind="text: diceTotal().toDice()" style="font-size: 42px;"></span>
        <!-- ko if: dieLoser() -->
        <span data-bind="text: dieLoser().handle"></span> loses a die.
        <!-- /ko -->
        <!-- /ko -->
      </h2>
    </div>
  </div>

  <div class="row game_content">
    <div class="col-md-8">
      <!-- ko foreach: rows -->
      <div class="row gameRow" data-bind="foreach: columns">
        <div data-bind="attr: { 'class': cssClass }, css: { currentBidder: player.seatNumber == $root.bidder(), lostDie: player.lostDie, noDice: player.noDice, currentPlayer: player.isCurrentPlayer, calledBS: player.calledBS, player: true }">
          <!-- ko with: player -->
          Seat <span data-bind="text: seatNumber"></span>: <span data-bind="text: handle"></span> <!-- ko if: !isCurrentPlayer() --><span data-bind="text: hiddenDiceIcons"></span><!-- /ko --><br />
          <p data-bind="if: calledBS()">Called BS</p>
          <p data-bind="if: lostDie()">Lost Die</p>
          <!-- ko if: diceTotal() >= 0 -->
          Total: <span data-bind="text: diceTotal"></span>
          <!-- /ko -->
          <div data-bind="if: isCurrentPlayer()">
            <span data-bind="text: diceIcons" style="font-size: 42px;"></span>
            <div data-bind="if: seatNumber == $root.bidder()" style="margin-top: -5px">
              <hr />
              <%= text_field_tag :number, '', placeholder: "#" %>
              <%= select_tag :face_value, options_for_select([['⚀', 1], ['⚁', 2], ['⚂', 3], ['⚃', 4], ['⚄', 5], ['⚅', 6]]) %><br />
              <div data-bind="if: !$root.bidMade()">
                <div class="btn-group">
                  <%= submit_tag "BID", id: "bid", class: "btn btn-primary", "data-bind" => "click: $root.bid" %>
                  <%= submit_tag "+1", id: "plusOne", class: "btn btn-primary", "data-bind" => "visible: $root.currentBid(), attr: { title: $root.currentBid() ? $root.currentBid().plusOne().toString() : '' }, click: $root.plusOne" %>
                </div>
                <%= submit_tag "BS", id: "bs", class: "btn btn-danger", "data-bind" => "visible: $root.currentBid(), click: $root.bs" %>
              </div>
            </div>
          </div>
          <!-- /ko -->
        </div>
      </div>
      <!-- /ko -->
    </div>
    <div class="col-md-2" id="chat">
      <ul style="padding:0; margin:0;" data-bind="foreach: chat().comments">
        <li style="padding:0 0 5px; list-style:none;"><span class="handle" data-bind="text: player.handle"></span>: <span data-bind="text: message"></span></li>
      </ul>

      <form data-bind="submit: postComment">
        <textarea id="chatMessage" data-bind='value: message, valueUpdate: "afterkeydown"'></textarea>
        <button type="submit" data-bind="enable: message().length > 0" class="btn btn-primary">Comment</button>
      </form>
    </div>
    <div class="col-md-2" data-bind="foreach: log().rounds">
      <div data-bind="css: { panel: true, 'panel-default': !playerLostDie(), 'panel-danger': playerLostDie() }">
        <div class="panel-heading" data-bind="visible: !live(), text: description, click: function(event){ this.show(!this.show()); }"></div>
        <div class="panel-body" data-bind="visible: showBody()">
          <table data-bind="if: showDice()" class="diceTable">
            <thead>
              <tr>
                <th>Seat</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
              </tr>
            </thead>
            <tbody>
              <!-- ko foreach: diceRolls -->
              <tr>
                <td data-bind="text: player().handle"></td>
                <td data-bind="text: ones()"></td>
                <td data-bind="text: twos()"></td>
                <td data-bind="text: threes()"></td>
                <td data-bind="text: fours()"></td>
                <td data-bind="text: fives()"></td>
                <td data-bind="text: sixes()"></td>
              </tr>
              <!-- /ko -->
              <tr class="diceTotals">
                <td>Totals</td>
                <td data-bind="text: ones()"></td>
                <td data-bind="text: twos()"></td>
                <td data-bind="text: threes()"></td>
                <td data-bind="text: fours()"></td>
                <td data-bind="text: fives()"></td>
                <td data-bind="text: sixes()"></td>
              </tr>
            </tbody>
          </table>

          <ul data-bind="foreach: events">
            <li data-bind="text: $data"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    var game = new GameViewModel(<%= raw @urls.to_json %>);
    game.waiting = false;
    game.bidder(<%= @game.bidder.seat %>);
    game.highwaterMark = <%= @game.last_event.number %>;
    <% if @game.current_bid %>
      game.currentBid(new Bid(<%= @game.current_bid.number %>, <%= @game.current_bid.face_value %>));
   <% end %>
    <% @game.players.order(:seat).each do |player| %>
      player = new Player(<%= raw player.to_json %>);
      <% if player == @player %>
        player.isCurrentPlayer(true);
        player.assignDice(<%= player.dice %>);
      <% end %>
      game.addPlayer(player);
    <% end %>

   game.log().addRound();
    <% @game.die_lost_events.each do |event| %>
      game.log().addDieLost("<%= event.description %>");
      game.log().addRound();
    <% end %>

    ko.applyBindings(game);
    game.loop();
  </script>
<% end %>
